.mainDiv {
  margin-top: 10px;
  height: 670px;
}

.btn {
  line-height: 45px;
  height: 40px;
  text-align: center;
  padding-bottom: 5px;
  width: 100px;
  cursor: pointer;
  border: 1px solid black;
  margin: 10px;
}

.btn:hover {
  border: 1px solid rgb(185, 6, 6);
  color: rgb(185, 6, 6);
}

.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs {
  width: 300px;
  height: 50px;
}

.buyBtn {
  height: 50px;
  width: 130px;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 30px;
}

.buyBtn:hover {
  background-color: #d5393a;
  border: 1px solid #d5393a;
  color: white;
}
